<% include ../partials/header %>

<div class="row text-center" style="background-color: rgb(253, 214, 214);">
        <div class="col-md-12">
        <center><img src="https://scontent.fbkk8-3.fna.fbcdn.net/v/t1.0-9/43042966_2080525722277257_4339076451216130048_n.jpg?_nc_cat=111&_nc_ht=scontent.fbkk8-3.fna&oh=f63f6b199acf865eab5988ff671afa58&oe=5C432EAF"width="300"</center>
            <h1><%= fullname %></h1>
            <h2>-  5930213021 SE  -</h2>
            <p class="text-muted">“If they stare, let them stare. You can’t blend in when you were born to stand out.” </p>
            <h4>Brith of date : <%= bdate %></h4>
            <% hobbies.forEach(function(hobby) { %>
                <ul><%= hobby %></ul>
            <% }); %>
                <br>
        </div>
</div>
<br><br>
 <% include ../partials/footer %>