<% include ../partials/header %>

<div class="row text-center" style="background-color: rgb(253, 214, 214);">
        <div class="col-md-12">
            <h1><%= fullname %></h1>
            <h2>-  5930213021 SE  -</h2>
            <p class="text-muted">“If they stare, let them stare. You can’t blend in when you were born to stand out.” </p>
            <h4>Brith of date : <%= bdate %></h4>
            <% hobbies.forEach(function(hobby) { %>
                <ul><%= hobby %></ul>
            <% }); %>
                <br>
        </div>
</div>
<br><br>
 <% include ../partials/footer %>