<% include ../partials/header %>
<form action="/user/addnewusers" method="post" >

<!--b4-from-input-->
<div class="jumbotron">
<div class="form-group" >
  <h1 class="display-12">ADD NEW USER</h1><br>
<div class="form-group" >
  <br><br>
  <label for="">ID</label>
  <input type="number"
    class="form-control" value=" " name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">User ID</small>
</div>

<div class="form-group">
  <label for="">Email</label>
  <input type="text"
    class="form-control" value=" " name="email" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">User Email</small>
</div>

<div class="form-group">
  <label for="">Password</label>
  <input type="text"
    class="form-control" value=" " name="password" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">User Password</small>
</div>

<div class="form-group">
  <label for="">Time</label>
  <input type="text"
    class="form-control" value="<%= time %>"name="time" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Created At</small>
</div>
<br><br>
<!-- b4-form-submit-->
<a name="" id="" class="btn btn-primary" href="/users" role="button">Cancle</a>
&nbsp;
<button type="submit" class="btn btn-success">ADD NEW</button>
</div>
</form>
<% include ../partials/footer %>