<% include ../partials/header %>

<div class="col-12 text-center"> 
        <div class="jumbotron">
            <h1 class="display-3">Welcome!</h1>
            <p class="lead">Static content</p>
            <h4>Prince of Songkla University,phuket campus</h4>
            <h5>80 Moo 1, Vichaiyong Road, Kathu District, Phuket 83120 Tel. 0-7627-6012, 0-7627-6013 Fax. 0-7627-6002</h5>
            <br><hr class="my-2"><br>
            <p>Contact us</p>
            
            <p class="lead">
                <a class="btn btn-info btn-lg" href="/about" role="button">About Me</a>
            </p>
        
        </div>
</div>
    

 <% include ../partials/footer %>